<!DOCTYPE html>
<% include partials/header %>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">MedTrack</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/register">Register</a>
        </li>

        <li class="nav-item">
          <a class="nav-link disabled" href="/login">Login</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <div class="container">
    <h1 class="text-center">All Patients</h1>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card text-center">
          <div class="card-header">
            Patient Ward
          </div>
          <div class="card-body">
            <img  class="card-img-top"src="https://vote.union.ic.ac.uk/photos/mb5917-15685.jpg" alt="">
            <h5 class="card-title">Patient Name</h5>
            <p class="card-text">Diagnosis</p>

          </div>
          <div class="card-footer text-muted">
            <small>Admitted date</small>
            <a href="#"class="btn btn-danger btn-block">View</a>
            <a href="#"class="btn btn-warning btn-block">Edit</a>

          </div>


        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card text-center">
          <div class="card-header">
            Patient Ward
          </div>
          <div class="card-body">
            <img  class="card-img-top"src="https://vote.union.ic.ac.uk/photos/mb5917-15685.jpg" alt="">
            <h5 class="card-title">Patient Name</h5>
            <p class="card-text">Diagnosis</p>

          </div>
          <div class="card-footer text-muted">
            <small>Admitted date</small>
            <a href="#"class="btn btn-danger btn-block">View</a>
            <a href="#"class="btn btn-warning btn-block">Edit</a>


          </div>

        </div>
      </div >
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card text-center">
          <div class="card-header">
            Patient Ward
          </div>
          <div class="card-body">
            <img  class="card-img-top"src="https://vote.union.ic.ac.uk/photos/mb5917-15685.jpg" alt="">
            <h5 class="card-title">Patient Name</h5>
            <p class="card-text">Diagnosis</p>

          </div>
          <div class="card-footer text-muted">
            <small>Admitted date</small>
            <a href="#"class="btn btn-danger btn-block">View</a>
            <a href="#"class="btn btn-warning btn-block">Edit</a>

          </div>

        </div>

        <div class="card text-center">
          <div class="card-header">
            Patient Ward
          </div>

        </div>

        <script type="text/javascript" src="testcolor.js"></script>

    <% include partials/footer %>
