
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>RPM: Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Remote Patient Monitoring</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
<!--      <li class="nav-item ">-->
<!--        <a class="nav-link" href="register.ejs">Register</a>-->
<!--      </li>-->

      <li class="nav-item active">
        <a class="nav-link disabled" href="#">Login</a>
      </li>
    </ul>
<!--    <form class="form-inline my-2 my-lg-0">-->
<!--      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
<!--      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
<!--    </form>-->
  </div>
</nav>
   <div class="container">
     <div class="text-center">


     <h1>Login</h1>
       <p>New to RPM? Sorry, an admin has to log you in!</p>
#error#
<!--       <p1><font color="red">Credentials not recognized! Please try again. </font></p1>-->
     <form>

  </div>

     <form name="login" method="post" action="rpm/login">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" name="username" class="form-control" placeholder="Enter your username">

  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" class="form-control"  placeholder="Enter Password">
  </div>
       <input type="submit" value="Login" class="btn btn-danger btn-block" >
     </form>
<!--  <button type="submit" class="btn btn-danger btn-block"><a href="/Server/rpm/mypatients">Login</a></button>-->



 </div>


  </body>
</html>

